# Dependencies
node_modules/
.pnp/
.pnp.js

# Testing
coverage/
.nyc_output/

# Production
build/
dist/
out/
.next/

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
.project
.classpath
.c9/
*.launch
.settings/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# React Native
.expo/
*.jsbundle
*.ipa
*.apk
*.aab
*.hprof

# iOS
ios/Pods/
ios/build/
ios/Podfile.lock
ios/xcuserdata/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
project.xcworkspace

# Android
android/app/build/
android/build/
android/gradle/
android/local.properties
android/.gradle/
android/.idea/
android/*.iml
android/.settings
android/.project
android/app/release/
android/captures/
android/app/debug/
android/app/profile/
android/app/src/main/assets/index.android.bundle
android/app/src/main/assets/index.android.bundle.meta
android/app/src/main/res/drawable-*/node_modules*
android/app/src/main/res/raw/node_modules*

# Firebase
.firebase/
firebase-debug.log
firestore-debug.log
ui-debug.log
.runtimeconfig.json

# Temporary files
tmp/
temp/

# Misc
.cache/
.eslintcache
.stylelintcache
